body { background-color: #475831; }

h2, h3, h4, h5 { 
	font-family: Oswald, monospace;
	color: #3ee4c0;
}

p { 
	font-family: Montserrat, monospace;
	color: #3ee4c0;
	font-size: 18px;
}


div.header {
	background-color: #3ee4c0;
	color: #475831;
	font-family: Oswald, monospace;
	
	width: 40%;
	padding-left: 1%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 15%;
	margin-top: 2%;
}

div.header h2 {
	color: #475831;
}

div.songquote {
	background-color: #104e52;
	color: #3ee4c0;
	display: block;
	position: relative;
	
	width: 30%;
	padding-right: 1%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: auto;
	margin-right: 15%;
	margin-top: 2%;
}

div.songquote p {
	text-align: right;
	font-family: Montserrat, monospace;
}

div.infobox {
	display: block;
	position: relative;
	border-left: dashed 2px #3ee4c0;

	padding-left: 1%;
	margin-left: 15%;
	margin-right: auto;
	
	color: #3ee4c0;
	font-family: Montserrat, monospace;
	line-height: 0.5;
}

div.infobox h2 {
	font-variant: small-caps;
}

div.infobox a {
	color: #3ee4c0;
}

div.infobox a:hover {
	color: #475831;
	background-color: #3ee4c0;
}

div.infobox ul {
	list-style-type: none;
	line-height: 1.5;
}

div.infobox strong {
	font-variant: small-caps;
}

div.textblock {
	margin: 2%;
}

div.textblock h2 {
	font-variant: small-caps;
}

div.textblock a:hover {
	color: #475831;
	background-color: #3ee4c0;
}

div.textblock img {
	width: 30%;
}

@media only screen and (max-width: 700px) {
	div.textblock img { 
		float:none;
		width: 100%; 
		margin-bottom: 5%;
}